
.contact-form input,
.contact-form textarea,
.contact-form select {
	margin-bottom: var(--fs-base);
    width: 100%;
    padding: 0.2rem 0.5rem;
}

.contact-form .btn {
    color: white;
    padding: 1rem;
    background-color: var(--color-dark);
    margin-top: 0;
}

.contact-form .btn:hover {
    background-color: var(--color-secondary);
    color: white;
}