
.contact-form input,
.contact-form textarea,
.contact-form select {
	margin-bottom: var(--fs-base);
    width: 100%;
    padding: 0.5rem 0.7rem;
}

.contact-form .btn {
    color: var(--color-dark);
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: 3px solid var(--color-primary);
    margin-top: 0;
    display: block;
    width: 230px;
    text-align: center;
}

.contact-form .btn:hover {
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
    color: white;
}

@media screen and (min-width: 60em) {
    .contact-form input,
    .contact-form textarea,
    .contact-form select {
        width: 80%;
    }
}