/* Hero Section */
.hero {
	background: linear-gradient(-45deg, #27a9b0, #673ab7);
    background-size: 100% 200%;
    color: #000000;
    height: 500px;
    min-height: 50vh;
}

.hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    height: 100%;
	max-width: 80em;
}

.hero .ica-logo {
	max-width: 100%;
}

.hero .container div:nth-of-type(1) {
	max-width: 50%;
}

.hero .container div:nth-of-type(2) {
	max-width: 50%;
}

.hero h1, 
.hero h2 {
    font-size: 3rem;
    color: rgba(255,255,255,0.7);
    font-weight: 300;
}

.hero h2 {
    font-size: 1.1rem;
	padding-top: 1rem;
}

.hero h1 span {
    background-color: var(--color-secondary);
    padding: 0.5rem 2rem;
    border-radius: 1em;
    display: inline-block;
    position: relative;
}

.hero h1 span::after {
    content: " ";
    position: absolute;
    bottom: -20px;
    right: 25%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: var(--color-secondary) transparent transparent transparent;
}

section.hero h1::after {
    display: none;
}

/* Buttons */
.btn {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	border: 3px solid plum;
	padding: 1rem 2rem;
	margin: 2rem 0;
	font-family: inherit;
	font-size: 0.875rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
	position: relative;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	border-radius: 0.5rem;
	transition: all ease-in-out 200ms;
}

.btn:hover {
	background-color: #000000;
	border-color: #000000;
}

.btn::before,
.btn::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn.primary {
	border-color: var(--color-secondary);
	background-color: var(--color-secondary);
	margin: 2rem 0;
	font-size: 0.795rem;
}

.btn.primary:hover {
	border-color: var(--color-dark);
	background-color: var(--color-dark);
}