---
layout: layouts/base.njk
title: Irish Citizens' Assembly Project
eleventyNavigation:
  key: Work
  order: 3
---
<section class="banner" id="ica1">
	<div class="container">
		<h1>{{ title }} (2019-2021)</h1>
	</div>
</section>
<section class="page">
	<div class="container">
      {% renderFile "./content/work/ica-2019-2021.md" %}
  </div>
</section>

<section class="banner" id="ica2">
	<div class="container">
		<h1>{{ title }} (2016-2018)</h1>
	</div>
</section>

<section class="page">
	<div class="container">
      {% renderFile "./content/work/ica-2016-2018.md" %}
  </div>
</section>

<section class="banner" id="convention">
	<div class="container">
		<h1>Convention on the constitution</h1>
	</div>
</section>

<section class="page">
	<div class="container">
      {% renderFile "./content/work/convention-on-the-constitution.md" %}
  </div>
</section>

<section class="banner" id="wtc">
	<div class="container">
		<h1>We the citizens</h1>
	</div>
</section>

<section class="page">
	<div class="container">
      {% renderFile "./content/work/we-the-citizens.md" %}
  </div>
</section>