---
layout: layouts/base.njk
title: Contact Us
eleventyNavigation:
  key: Contact
  order: 6
---
<section class="banner">
	<div class="container">
		<h1>{{ title }}</h1>
	</div>
</section>
<section class="page">
	<div class="container">
        <p>This is where the contact details go. Fill out our contact form below</p>
  </div>
</section>