---
layout: layouts/base.njk
section: content
---
<section class="banner">
	<div class="container">
		<h1>Contact</h1>
	</div>
</section>
<section class="page">
	<div class="container">
        {% renderFile "./content/contact/contact.md" %}
  </div>
</section>