---
layout: layouts/base.njk
section: content
---
<section class="banner" id="who">
	<div class="container">
		<h1>Who we are</h1>
	</div>
</section>
<section class="page">
	<div class="container">
    <div class="david flex-col">
      <div class="content">{% renderFile "./content/about/david.md" %}</div>
	  <div class="photo"><img src="/img/david.jpg" width="322" height="550" alt="Photo of David Farrell" title="Photo of David Farrell" /></div>
    </div>

    <div class="jane flex-col">
	  <div class="photo"><img src="/img/jane.jpg" width="322" height="550" alt="Photo of Jane Suiter" title="Photo of Jane Suiter" /></div>
	  <div class="content">{% renderFile "./content/about/jane.md" %}</div>
    </div>
  </div>
</section>

<section class="banner" id="ica">
	<div class="container">
		<h1>The Irish Citizens' Assembly Project</h1>
	</div>
</section>

<section class="page">
	<div class="container">
      {% renderFile "./content/about/icap.md" %}
  </div>
</section>

<section class="banner" id="collaborators">
	<div class="container">
		<h1>Collaborators</h1>
	</div>
</section>

<section class="page">
	<div class="container">
      {% renderFile "./content/about/collaborators.md" %}
  </div>
</section>