---
layout: layouts/base.njk
title: News
eleventyNavigation:
  key: News
  order: 5
---
<section class="banner" id="press">
	<div class="container">
		<h1>Press Relesases</h1>
	</div>
</section>
<section class="page">
	<div class="container">
      {% renderFile "./content/news/brown-democracy-medal.md" %}
  </div>
</section>
