{%- css %}{% include "public/css/footer.css" %}{% endcss %}
<footer>
  <div class="container">
      <div class="content">
      <div class="box">
          <h2><a href="/about/">About</a></h2>
          <a href="/about/#who">Who we are</a>
          <a href="/about/#ica">The Irish Citizens' Assembly Project</a>
          <a href="/about/#collaborators">Collaborators</a>
      </div>
      <div class="box">
        <h2><a href="/work/">Work</a></h2>
        <a href="/work/#ica1">Irish Citizens’ Assembly (2019-2021)</a>
        <a href="/work/#ica2">Irish Citizen’s Assembly (2016-2018)</a>
        <a href="/work/#convention">Convention on the Constitution</a>
        <a href="/work/#wtc">We The Citizens</a>
      </div>
      <div class="box">
        <h2><a href="/research/">Research</a></h2>
        <a href="/research/#journal">Journal Articles</a>
        <a href="/research/#books">Books & Chapters</a>
        <a href="/research/#opinion">Opinion Pieces & Blogs</a>
      </div>
      <div class="box">
        <h2><a href="/media/">Media</a></h2>
        <a href="/media/#radio">Radio</a>
        <a href="/media/#video">Video</a>
      </div>
      <div class="box">
        <h2><a href="/contact/">Contact us</a></h2>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+353 (1) 123 4567</a>
          </div>
          <div class="email">
            <a href="mailto:info@citizenassembly.ie"><i class="fas fa-envelope"></i>info@citizenassembly.ie</a>
          </div>
        <div class="media-icons">
            <a href="https://twitter.com/citizassembly"><i class="fab fa-twitter"></i></a>
            <a href="/contact/"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
    </div>
  </div>

  <div class="bottom">
      <p>&#169; 2023 The Irish Citizens' Assembly Project. <span>Website by <a href="https://dexark.ie" target="_blank">deXark</a></span></p>
  </div>
</footer>