{%- css %}{% include "public/css/footer.css" %}{% endcss %}
<footer>
  <div class="container">
      <div class="content">
      <div class="box">
          <h2><a href="/about/" aria-label="About">About</a></h2>
          <a href="/about/#who" aria-label="Who we are">Who we are</a>
          <a href="/about/#ica" aria-label="The Irish Citizens' Assembly Project">The Irish Citizens' Assembly Project</a>
          <a href="/about/#collaborators" aria-label="Collaborators">Collaborators</a>
      </div>
      <div class="box">
        <h2><a href="/work/" aria-label="Work">Work</a></h2>
        <a href="/work/#ica1" aria-label="Irish Citizens’ Assembly (2019-2021)">Irish Citizens’ Assembly (2019-2021)</a>
        <a href="/work/#ica2" aria-label="Irish Citizen’s Assembly (2016-2018)">Irish Citizen’s Assembly (2016-2018)</a>
        <a href="/work/#convention" aria-label="Convention on the Constitution">Convention on the Constitution</a>
        <a href="/work/#wtc" aria-label="Journal Articles">We The Citizens</a>
      </div>
      <div class="box">
        <h2><a href="/research/" aria-label="Research">Research</a></h2>
        <a href="/research/#journal" aria-label="Journal Articles">Journal Articles</a>
        <a href="/research/#books" aria-label="Books & Chapters">Books & Chapters</a>
        <a href="/research/#opinion" aria-label="Opinion Pieces & Blogs">Opinion Pieces & Blogs</a>
      </div>
      <div class="box">
        <h2><a href="/media/" aria-label="Media">Media</a></h2>
        <a href="/media/#radio" aria-label="Radio">Radio</a>
        <a href="/media/#video" aria-label="Video">Video</a>
      </div>
      <div class="box">
        <h2><a href="/contact/" aria-label="Contact Us">Contact us</a></h2>
          <div class="phone">
            <a href="#" aria-label="Phone"><i class="fas fa-phone-volume"></i>+353 (1) 123 4567</a>
          </div>
          <div class="email">
            <a href="mailto:info@citizenassembly.ie" aria-label="Email"><i class="fas fa-envelope"></i>info@citizenassembly.ie</a>
          </div>
        <div class="media-icons">
            <a href="https://twitter.com/citizassembly" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="/contact/" aria-label="Linkedin"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
    </div>
  </div>

  <div class="bottom">
      <p>&#169; 2023 The Irish Citizens' Assembly Project. <span>Website by <a href="https://dexark.ie" target="_blank">deXark</a></span></p>
  </div>
</footer>