---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/home.css" %}{% endcss %}
<div class="home">
	<section class="hero">
		<div class="container">
			<div>
				<img src="img/wtc-logo.svg" width="600" height="144" alt="We the citizens" />
				{% renderFile "./content/home/slogan.md" %}
				<a class="btn" href="/work#wtc">
					<span>View Our Projects</span>				
				</a>
			</div>
			<div>
				<img src="img/ica-logo.svg" width="316" height="419" class="ica-logo" alt="{{ metadata.title }}" />
			</div>
		</div>
	</section>

	<section class="first">
		<div class="container">
			<div class="page">
				{% renderFile "./content/home/icap.md" %}
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="page">
				{% renderFile "./content/home/who-we-are.md" %}
			</div>
		</div>
	</section>

	<section class="last">
		<div class="container flex-wrap">
			<div class="page">{% renderFile "./content/home/our-work.md" %}</div>
			<div class="page">
				<h1>Our News</h1>
				<p>Show part of the post here with a link to the <a href="/news/">full article</a></p>
			</div>
		</div>
	</section>
</div>
