---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/home.css" %}{% endcss %}
<div class="home">
	<section class="hero">
		<div class="container">
			<div>
				<img src="img/wtc-logo.svg" width="600" height="144" alt="We the citizens" />
				{% renderFile "./content/home/slogan.md" %}
				<a class="btn" href="/work#wtc">
					<span>View Our Projects</span>				
				</a>
			</div>
			<div>
				<img src="img/ireland-logo.png" width="316" height="419" class="ica-logo" alt="{{ metadata.title }}" />
			</div>
		</div>
	</section>

	<section class="first">
		<div class="container">
			<div class="page flex-col">
				<div class="content">{% renderFile "./content/home/icap.md" %}</div>
	  			<div class="photo">
					<img src="/img/farrell_wtc.jpg" width="750" height="525" alt="Photo of David Farrell at We the Citizens Conference" title="Photo of David Farrell at We the Citizens Conference" />
				</div>
			</div>
		</div>
	</section>

	<section class="grey">
		<div class="container">
			<div class="page flex-col">
	  			<div class="photo"><img src="/img/group.jpg" width="750" height="468" alt="Group Photo at Ideas Lab" title="Group Photo at Ideas Lab" /></div>
				<div class="content">{% renderFile "./content/home/who-we-are.md" %}</div>				
			</div>
		</div>
	</section>

	<section>
		<div class="container centered">
			<div class="page">
				<h1>Our Work</h1>
				<div class="box-container">
					<div class="box"><a href="/work/#wtc" aria-label="We the citizens" class="box-link"><img src="img/wtc-logo.svg" width="600" height="144" alt="We the citizens" /><!-- <p>We the Citizens</p> --></a></div>
					<div class="box"><a href="/work/#convention" aria-label="Convention on the constitution" class="box-link"><img src="img/constitution.png" width="600" height="150" alt="Convention on the constitution" /><!-- <p>Convention on the constitution</p> --></a></div>
					<div class="box"><a href="/work/#ica1" aria-label="Irish Citizens' Assembly" class="box-link"><img src="img/ca-logo.png" width="600" height="108" alt="Citizens Assembly" /><!-- <p>Irish Citizens' Assembly</p> --></a></div>
				</div>
			</div>
		</div>
	</section>

	<section class="last grey">
		<div class="container">
			<div class="page">
				<h1>Our News</h1>
				<img src="/img/news_banner.jpg" alt="Press banner image" class="news-banner" />
				<p class="press">Tuesday, 12th March 2019 - Press Releases</p>
				<!-- {% set postslist = collections.posts %}
				{% include "postslist.njk" %} -->
				<h2 class="show">The Irish Citizens' Assembly Project to receive 2019 Brown Democracy Medal</h2>
				
				<p>UNIVERSITY PARK, Pa. — This year’s Brown Democracy Medal recognizes The Irish Citizens’ Assembly Project, which has transformed Irish politics in the past decade. This unique project, which started in 2011, led to a series of significant policy decisions, including successful referenda on abortion and marriage equality.</p>

				<p>The project’s leaders, David Farrell of University College Dublin and Jane Suiter of Dublin City University, will receive the medal, presented by the McCourtney Institute for Democracy in the College of the Liberal Arts.</p>

				<p>The project started with an initiative, called “We the Citizens” which operated in 2011. Its aim was to test whether a more deliberative form of democracy could work in Ireland at a time when people felt...</p>

				<p><a href="/news/">Read the full article</a></p>
			</div>
		</div>
	</section>
</div>
