---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/home.css" %}{% endcss %}
<section class="hero">
	<div class="container">
		<div>
			<img src="img/wtc-logo.svg" width="600" height="144" alt="We the citizens" />
			<h2>
				This website brings together in one site the Irish experience of using citizens’ assemblies to facilitate widespread constitutional and political reform. 
			</h2>
			<a class="btn" href="/work#wtc">
				<span>View Our Projects</span>				
			</a>
		</div>
		<div>
			<img src="img/ica-logo.svg" width="316" height="419" class="ica-logo" alt="{{ metadata.title }}" />
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h1>The Irish Citizens' Assembly Project</h1>
		<p>
			This website brings together in one site the Irish experience of using citizens’ assemblies to facilitate widespread constitutional and political reform. The genesis of this project was Ireland’s 2008/2009 financial and economic meltdown and the resulting anger over failings in our political system. We led a group of political scientists who proposed that citizens should be brought into the heart of debates over constitutional and political reforms to improve how our representative system of democracy operates. Our modus operandi was to seek to persuade the newly elected government in 2011 to establish a citizens’ forum – a “deliberative mini-public”. With generous funding from Atlantic Philanthropies we established
		</p>
	</div>
</section>
